alias ll='ls -l'
alias fzf='fzf -m'
alias svim="vim -u .vimrc.base"
alias z='fasd_cd -ldi'
alias zz='fasd -fi -e $EDITOR'

## functions
function zf() {
   selected=$(fasd -lf $1 | fzf --reverse)
   if [ x"" != x"$selected" ]; then
     $EDITOR $selected
   fi
}
function zd() {
   selected=$(fasd -ld $1 | fzf --reverse)
   if [ x"" != x"$selected" ]; then
     cd $selected
   fi

}
