alias ll='ls -l'
alias fzf='fzf -m'
alias svim="vim -u .vimrc.base"
alias z='cd $(fasd -ld|fzf --reverse)'
alias zd='fasd_cd -ldi'
#alias zz='$EDITOR `fasd -lf|fzf --reverse`'

## functions
function zf() {
   selected=$(fasd -lf | fzf --reverse)
   echo $selected
   if [ x"" != x"$selected" ]; then
     $EDITOR $selected
   fi
}
