*/.cask
.emacs.d/.cache
.emacs.d/elpa
.emacs.d/elpy
.emacs.d/transient
.lsp-session-v1
.DS_Store
anaconda-mode
auto-save-list
bookmarks
eshell
projectile-bookmarks.eld
recentf
request
server
smex-items
amx-items
snippets
tramp
url
*~undo-tree~
.last-package-update-day
.aider*
