*/.cask
.emacs.d/.cache
.emacs.d/elpa
.emacs.d/elpy
.emacs.d/transient
.DS_Store
anaconda-mode
auto-save-list
bookmarks
eshell
projectile-bookmarks.eld
recentf
request
server
smex-items
snippets
tramp
url
*~undo-tree~
.last-package-update-day

